# Vim.
*.swp

# Npm modules.
node_modules

# Vendored javascript modules.
test/vendor

# Build output.
lib/dropbox.js
lib/dropbox.min.js
test/js
tmp/*.js

# Login credentials used for testing.
test/.token
